.movieContainer-similar {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 15px 0;
  margin: 25px 0;
}

.movieContainer-similar::-webkit-scrollbar {
  height: 5px;
}

.movieContainer-similar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.movieContainer-similar::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 10px;
}

.movieContainer-similar::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

.movieBox--similar + .movieBox--similar {
  margin-left: 30px;
}

.image-box-similar {
  width: calc(150px * 1.25);
  height: calc(225px * 1.25);
  border-radius: 15px;
}

.movieBox--similar {
  transition: all 200ms ease;
}

.movieBox--similar:hover,
.movieBox--similar:focus-within {
  transform: scale(1.05, 1.05);
}
