.person-detail-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  max-width: 100vw;
}

.person-detail-box > div {
  padding: 30px;
  margin: 20px;
}
.person-image-in-person-details {
}

.person-image-container img {
  width: calc(300px * 1.1);
  height: calc(451px * 1.1);
  border-radius: 25px;
}

.person-image-container {
  position: relative;
}

.person-name {
  margin: auto;
  border-radius: 0 0 25px 25px;
  position: absolute;
  bottom: 0px;
  /* left: 50%;
  transform: translate(-50%, -50%); */

  background-color: rgba(0, 0, 0);
  text-align: center;
  width: 100%;
}
.person-name h2 {
  padding: 20px;
  font-size: 1.7rem;
}
.person-table table {
  width: calc(300px * 1.1);
  margin: 30px auto;
  border-collapse: separate;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 15px;
}

.person-table th,
.person-table td {
  vertical-align: top;
  padding: 10px 15px 10px 10px;
}

.person-table th,
.person-table tr {
  text-align: left;
  font-size: 1.2rem;
}

/* =================================person overview================================ */

.person-overview {
  display: flex;
  flex: 3;
  overflow-x: auto;
  flex-direction: column;
  justify-content: flex-start;
}

.person-overview > div + div {
  margin-top: 35px;
}

.movieContainer-personpage {
  display: flex;
  overflow: auto;
}

.image-box-personpage {
  width: calc(300px * 0.4);
  height: calc(451px * 0.4);
  border-radius: 15px;
}

.movieBox--personpage + .movieBox--personpage {
  margin-left: 20px;
}

.movie-title-personpage {
  padding-left: 5px;
}
