* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

#root {
  width: calc(100%);
}
.page-background {
  background-color: rgb(14, 14, 14);
  min-height: 100vh;
}
.page-container {
  width: 90vw;
  margin: auto;
  padding: 10px;
  border-radius: 25px;
}

a:visited,
a:link {
  color: white;
}

.btn {
  width: max-content;
  padding: 1px 3px 3px;
  background-color: white;
  color: black;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  margin: 5px 2px;
  transition: all 150ms ease;
}
.btn a:link,
.btn a:visited {
  color: rgb(15, 15, 15);
}

.btn:hover,
.btn:focus-within {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25),
    -0.1px -0.1px 10px rgba(0, 0, 0, 0.25);
  background-color: grey;
  transform: scale(1.05, 1.05);
}
