* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

#root {
  width: calc(100vw-5px);
}
.page-background {
  background-color: black;
}
.page-container {
  width: 90vw;
  margin: auto;
  padding: 10px;
  border-radius: 25px;
}
