.header {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
  font-weight: 700;
}

.header a {
  color: white;
}
.search-profile-wrapper {
  color: white;
}

.header > div {
  align-items: center;
}

.logo-cetegory-wrapper {
  display: flex;
  gap: 15px;
}

.search-profile-wrapper {
  display: flex;
  gap: 15px;
}

.category-list li {
  display: block;
  width: 120px;
  text-align: center;
}

.category-list {
  display: flex;
  gap: 15px;
}

.tv-show-menu,
.movie-menu {
  display: none;
  text-align: center;
}

.tv-show-menu li,
.movie-menu li {
  padding: 5px 0;
  text-align: center;
}

.tv-show-menu,
.movie-menu {
  position: relative;
}

.tv-show-menu ul,
.movie-menu ul {
  position: absolute;
}

.category-list li:nth-child(1):hover .tv-show-menu {
  display: block;
  padding: 3px;
  position: absolute;
  z-index: 1;
}

.category-list li:nth-child(2):hover .movie-menu {
  display: block;
  padding: 3px;
  position: absolute;
  z-index: 1;
}
