.header {
  display: flex;
  padding: 30px 20px 70px 0;
  margin-bottom: 30px;
  justify-content: space-between;
  background-color: black;
  font-family: "Alata", sans-serif;
  font-size: large;
  font-weight: 700;
  position: relative;
}

.header a {
  color: white;
}
.search-profile-wrapper {
  color: white;
}

.logo-img img {
  width: 200px;
}

.header > div {
  align-items: center;
}

.logo-cetegory-wrapper {
  display: flex;
  gap: 15px;
}

.search-profile-wrapper {
  display: flex;
  gap: 15px;
}

.category-list li {
  display: block;
  width: 120px;
  text-align: center;
}

.category-list a {
  padding: 1px 5px;
}
.category-list {
  display: flex;
}

.tv-show-menu,
.movie-menu {
  display: none;
  text-align: center;
}

.tv-show-menu li,
.movie-menu li {
  padding: 5px 0;
  text-align: center;
}

.tv-show-menu,
.movie-menu {
  position: relative;
}

.tv-show-menu ul,
.movie-menu ul {
  position: absolute;
}

.category-list li:nth-child(1):hover ul.tv-show-menu,
.category-list li:nth-child(2):hover ul.movie-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px;
  position: absolute;
  z-index: 1;
  background-color: black;
  border: 1px solid white;
}

ul.tv-show-menu li:hover,
ul.movie-menu li:hover,
ul.tv-show-menu li:hover a,
ul.movie-menu li:hover a {
  background-color: white;
  color: black;
}

.category-list a:focus {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}

.search-icon {
  font-size: 1.6rem;
}

#header-form {
  display: none;
  align-items: center;
  margin: 0 50px;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: calc(100% - 100px);
}

form#header-form > input:nth-child(1) {
  flex-grow: 1;
  height: 41.5px;
  border: 0;
  font-size: 1.3rem;
  letter-spacing: 2px;
  word-spacing: 3px;
  padding: 2.5px 30px 1px;
  border-radius: 25px 0 0 25px;
}

form#header-form span input:nth-child(1) {
  border-radius: 0 25px 25px 0;
  height: 45px;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 5px;
  border-width: 0;
  width: 200px;
}
