.home-h3 {
  color: white;
  margin: 20px auto 20px 50px;
  width: max-content;
}

.load-more-button {
  display: block;
  background-color: rgb(43, 43, 43);
  border: 2px solid rgb(255, 243, 243);
  color: white;
  font-weight: 700;
  font-size: 18px;
  font-family: "Alata", sans-serif;
  padding: 10px;
  margin: 0 8px;
  text-align: center;
  border-radius: 15px;
}

.load-more-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: rgb(255, 255, 255) 2px solid;
}
