.movieContainer {
  display: flex;
  justify-content: var();
  flex-wrap: wrap;
}

.movieContainer-home {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 10px;
  margin-bottom: 30px;
}

.movieBox a {
  color: white;
}

.movie-details-container {
  height: auto;
  background-color: aliceblue;
  color: white;
}

.image-box {
  width: 150px;
  height: 225px;
  border-radius: 10px;
}

.movie-quick-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lang-rating-wrapper {
  display: flex;
  justify-content: space-between;
}

.vote-avarage {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 3px solid rgb(255, 255, 255);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: -10px;
}
.movie-quick-details,
.movie-name {
  align-self: flex-start;
}

.movieBox {
  height: calc(100%-10px);
  width: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 10px 15px;
  position: relative;
}

.movieBox:hover,
.movieBox:focus-within {
  transform: scale(1.03, 1.03);
}

.lang,
.movie-title {
  text-align: start;
}

.movie-detail-box {
  color: white;
  display: flex;
  justify-content: flex-start;
}

.movie-detail-box > div {
  padding: 30px;
  margin: 20px;
}

.poster-image-in-movie-details img {
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.35), 4px 6px 10px rgba(0, 0, 0, 0.1),
    -2px -4px 5px rgba(0, 0, 0, 0.35), -4px -6px 10px rgba(0, 0, 0, 0.1);
}

ul.movie-name-with-quickdetails {
  display: flex;
  gap: 15px;
}

/* ul.movie-name-with-quickdetails li li {
  list-style-type: georgian;
} */

li.genres-list {
  display: flex;
  gap: 5px;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
