.movieContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.movieContainer-home {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 10px;
}

.movieBox a {
  color: white;
}
.movie-details-container {
  height: auto;
  background-color: aliceblue;
  color: black;
}

.image-box {
  width: 150px;
  height: 225px;
  border-radius: 10px;
}

.movie-quick-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lang-rating-wrapper {
  display: flex;
  justify-content: space-between;
}

.vote-avarage {
  text-align: center;
  color: red;
  background-color: white;
  border: 3px solid red;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: -10px;
}

.movieBox {
  height: calc(100%-10px);
  width: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  margin: 10px;
  text-align: center;
  position: relative;
}

.movieBox:hover {
  transform: scale(1.03, 1.03);
}

.lang,
.movie-title {
  text-align: start;
}

.movie-detail-box {
  display: flex;
}
