.page-not-found {
  height: 100vh;
  background-color: rgb(175, 175, 175);

  display: flex;
  justify-content: center;
  align-items: center;
}
.page-not-found * {
  padding: 30px;
}
.page-not-found-wrapper {
  background-color: lightgray;
  padding: 30px;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
}

.page-not-found-wrapper:hover {
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

#page-404 {
  font-size: 154px;
}

#anchor-pagenotfound {
  color: rgb(255, 123, 0);
  padding: 5px;
  margin: 0;
}
